<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag("7.jpg", class: "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Maestro-Studio</h1>
        <h4>Интернет-магазин автозука в Алматы</h4>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag("7.jpg", class: "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Maestro-Studio</h1>
        <h4>Интернет-магазин автозука в Алматы</h4>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("7.jpg", class: "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h1>Maestro-Studio</h1>
        <h4>Интернет-магазин автозука в Алматы</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
 <hr>
</div>

<div class="container">
	<div class="nota">
		<div class="row justify-content-center">
			<div class="col-sm-4 text-center">
				<%= image_tag("nota1.png", size: '50') %>
				<h3 class="nota_descr">7 лет</h3>
				<p>опыта работы в автозвуке</p>
			</div>
			<div class="col-sm-4 text-center">
				<%= image_tag("nota2.png", size: '50') %>
				<h3 class="nota_descr">Доставка</h3>
				<p>по всему казахстану и СНГ</p>
			</div>
			<div class="col-sm-4 text-center">
				<%= image_tag("nota3.png", size: '50') %>
				<h3 class="nota_descr">70% клиентов</h3>
				<p>обращаются к нам через рекомендации</p>
			</div>
	  </div>
	</div>
  <hr>
</div>

<div class="reasons">
	<div class="container">
		<h2 class="reasons_head">Почему стоит купить автозвук у нас?</h2>
			<div class="row justify-content-center">
				<div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Цена</div>
            <div class="card-body text-danger">
              <p class="card-text">В цену товара включено сопровождение установки и полное ТЗ на аппаратуру.</p>
            </div>
          </div>
				</div>

				<div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Удобство</div>
            <div class="card-body text-danger">
              <p class="card-text">Мы дистанционно (даже если Вы в другом городе) поможем Вам настроить ваш автомобиль (дополнительная услуга только для наших клиентов).</p>
            </div>
          </div>
				</div>

        <div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Прослушивание</div>
            <div class="card-body text-danger">
              <p class="card-text">Все автозвукое оборудование тестируется не только при настройке, но и в комнате прослушивания.</p>
            </div>
          </div>
				</div>

        <div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Стоимость</div>
            <div class="card-body text-danger">
              <p class="card-text">Часть продукции из Европы мы возим самостоятельно – это позволяет значительно снижать цены.</p>
            </div>
          </div>
				</div>

        <div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Гибкость</div>
            <div class="card-body text-danger">
              <p class="card-text">Мы специализируемся как на дорогих и среднеценовых системах, так и на бюджетных.</p>
            </div>
          </div>
				</div>

        <div class="col-sm-5 mb-3 text-center">
          <div class="card h-100 border-danger mb-3">
            <div class="card-header">Уникальность</div>
            <div class="card-body text-danger">
              <p class="card-text">Наши специалисты являются не только продавцами, но и настройщиками систем.</p>
            </div>
          </div>
				</div>
			</div>
      <hr>
		</div>
	</div>
</div>

<div class="final">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
        <div class="card border-dark mb-3">
          <div class="card-header">Аристотель</div>
          <div class="card-body text-dark">
            <p class="card-text">Когда мы воспринимаем ухом ритм и мелодию, у нас изменяется душевное настроение.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="car">
          <%= image_tag("car.jpg") %>
        </div>
      </div>
		</div>
	</div>
</div>

